<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logoCPT.png">
    <link rel="stylesheet" href="../css/style_mainQT.css">
    <script src="https://kit.fontawesome.com/e06076012c.js" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/click.js"></script>
    <!-- <script src="../js/hide_menu.js"></script> -->
    <!-- <title>Quản lý cửa hàng bán máy tính NCC</title> -->
    <script src="/Javascrip/angular.min.js"></script>
    <script src="/Javascrip/global.js"></script>
    <script src="/js/TaiKhoan.js"></script>
</head>

<body ng-app="AppBanHoa" ng-controller="TaiKhoan">
    <section class="header">
        <a href="javascript:void(0);" class="icon" onclick="openBTN()">
            <i class="fas fa-bars"></i>
        </a>
        <div class="box-login" id="box-t">
            Xin chào, <span id="ten_nv">Admin</span> <i class="fas fa-sort-down"></i>
            <div class="box-login-bottom" id="box-b">
                <button onclick="TTTaiKhoan()"><i class="fas fa-user-alt"></i> Tài khoản</button>
                <button onclick="TTMatKhau();"><i class="fas fa-sign-out-alt"></i> Đổi mật khẩu</button>
                <button onclick="LogOut();"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="row">
            <div class="col-1 col-s-12 category">
                <button onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</button>
                <button onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</button>
                <button onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</button>
                <button onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</button>
                <button onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</button>
                <button class="active" onclick="NhanVien()"><i class="fas fa-user"></i> Tài khoản</button>
                <button onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</button>
                <button onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</button>
                <button onclick="ThongKe()"><i class="fas fa-shopping-cart"></i> Thống kê</button>
                <button onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</button>
            </div>
            <div class="bx-left" id="button-left">
                <a href="javascript:void(0)" class="closebtn" onclick="closeBTN()"><i
                        class="far fa-window-close"></i></a>
                <ul>
                    <li onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</li>
                    <li onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</li>
                    <li onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</li>
                    <li onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</li>
                    <li onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</li>
                    <li onclick="NhanVien()"><i class="fas fa-user"></i> Tài khoản</li>
                    <li onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</li>
                    <li onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</li>
                    <li onclick="ThongKe()"><i class="fas fa-shopping-cart"></i> Thống kê</li>
                    <li onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</li>
                </ul>
            </div>
            <div class="col-11 col-s-12 content">
                <div class="col-4 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-user"></i> Nhập thông tin Tài khoản
                            <hr>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Mã tài khoản:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input  ng-model="matk"type="text" id="matk"
                                        placeholder="Mã tài khoản tự động nhập">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tên đăng nhập:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input ng-model="tentk"type="text" id="tentk" placeholder="Nhập tên đăng nhập...">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Mật khẩu:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input ng-model="matkhau" type="text" id="matkhau" placeholder="Nhập tên đăng nhập...">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Chức vụ:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <select  ng-model="level" name="quyen1" id="chucvu" ng-change="levelChanged()">
                                        <option value="choose">--Chọn chức vụ--</option>
                                        <option value="1">Khách hàng</option>
                                        <option value="2">Tài khoản</option>
                                        <option value="3">Quản lý</option>
                                    </select>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Trạng thái:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <select ng-model="live" name="trangthai" id="trangthai" ng-change="liveChanged()">
                                        <option value="choose">--Chọn trạng thái--</option>
                                        <option value="true">Hoạt động</option>
                                        <option value="false">Khóa</option>
                                    </select>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label style="font-weight: 600;font-size: 20px;color: #e91e63; border-bottom:2px solid #e91e63 ;" for="txtright">Chi tiết tài khoản</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Họ tên:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input ng-model="hoten" type="text" id="hotentk" placeholder="Họ tên">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Email:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input  ng-model="email" type="email" id="emailtk" placeholder="Email">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Số điện thoại:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input ng-model="sodt" type="text" id="sdttk" placeholder="Số điện thoại">
                                </div>
                                
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Địa chỉ:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input ng-model="diachi"type="tex" id="diachi" placeholder="Địa Chỉ">
                                </div>
                            </form>
                        </div>
                        <hr>
                        <!-- <button class="btn-form" style="background-color: rgba(44, 140, 15, 0.8);"
                            onclick="ThemNhanVien()">Thêm Tài khoản</button> -->
                        <button class="btn-form" style="background-color: rgba(227, 32, 21, 0.8);"
                            ng-click="LamMoi()">Nhập mới</button>
                        <button class="btn-form" style="background-color: rgba(14, 87, 224, 0.8);" id="btnUpdate"
                            ng-click="GetTaiKhoan()">Cập nhật thông tin</button>
                    </div>
                </div>
                <div class="col-8 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-user"></i> Danh sách Tài khoản
                            <button onclick="XoaChon()" style="margin-right: 3px;"><i class="far fa-trash-alt"></i> Xóa
                                chọn</button>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-10 col-s-12 padding-box">
                                <input type="text" id="searchStaff" placeholder="Nhập thông tin tìm kiếm...">
                            </div>
                            <div class="col-2 col-s-12 padding-box">
                                <button ng-click="SearchCM()"><i class="fas fas fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-s-12 padding-box">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="padding-top: 10px;"><input type="checkbox"
                                                    onclick="CheckAll(this)"></th>
                                            <th>Mã tài khoản</th>
                                            <th>Tên đăng nhập</th>
                                            <th>Mật khẩu</th>
                                            <th>Chức vụ</th>
                                            <th>Trạng thái</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody id="listStaff"></tbody>

                                    <tbody>
                                        <tr ng-repeat="x in taikhoan" ng-click="loadData(x)">
                                            <td style="text-align: center;padding-top: 10px;"><input type="checkbox"
                                                    value="" id=""></td>
                                            <td style="text-align: center;">{{x.maTaiKhoan}}</td>
                                            <td style="text-align: center;">{{x.tenDangNhap}}</td>
                                            <td style="text-align: center;">{{x.matKhau}}</td>
                                            
                                            <td style="text-align: center;">{{x.maLoaiTaiKhoan }}</td>
                                            <td style="text-align: center;">{{x.trangThai == 0? 'Không hoạt động ': 'Hoạt động '}}</td>
                                            
                                            <td style="text-align: center;">
                                                <i class="fas fa-edit" title="Sửa" ng-click="sua()"></i>
                                                <i class="fas fa-trash-alt" title="Xóa"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-s-12 padding-box">
                                <div class="box-sum">
                                    <div class="box-left">
                                        Số lượng Tài khoản: <span id="soluong">{{about}}</span>
                                    </div>
                                    <div class="box-right">
                                        <button ng-click="prevPage()"><i class="fas fa-angle-left"></i></button>
                                        <button style="margin: 0 2px;" ng-repeat="page in pages" ng-click="setPage(page)">{{ page }} </button>
                                        <button ng-click="nextPage()"><i class="fas fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script>
            var user = JSON.parse(localStorage.getItem('user'));
            if (!user) {
                window.location.href = "../admin/login.html";
            }

            LoadUser();
            var list = JSON.parse(localStorage.getItem('Staff')) || [];
            function ThemNhanVien() {
                var manv = document.getElementById("manv").value;
                var tennv = document.getElementById("tennv").value;
                var anhnv = document.getElementById("imgstaff").value;
                var emailnv = document.getElementById("emailnv").value;
                var sdtnv = document.getElementById("sdtnv").value;
                var quyen = document.getElementById("quyennv").value;
                var trangthai = document.getElementById("trangthai").value;
                var mknv = document.getElementById("mknv").value;
                var number = /^[0-9]+$/;
                var atposition = emailnv.indexOf("@");
                var dotposition = emailnv.lastIndexOf(".");

                if (manv == null || manv == "") {
                    var d = new Date();
                    manv = Number(d);
                }
                else if (!manv.match(number) || manv.length != 13) {
                    alert("Mã Tài khoản phải là kiểu số và có độ dài là 13 ký tự! Vui lòng nhập lại!");
                    return false;
                }

                // if (tennv == null || tennv == "") {
                //     alert("Tên Tài khoản không được để trống! Vui lòng nhập lại!");
                //     return false;
                // }
                // else if (emailnv == null || emailnv == "") {
                //     alert("Email Tài khoản không được để trống! Vui lòng nhập lại!");
                //     return false;
                // }
                // else if (atposition < 1 || dotposition < (atposition + 2) || (dotposition + 2) >= emailnv.length) {
                //     alert("Email Tài khoản không hợp lệ! Vui lòng nhập lại!");
                //     return false;
                // }
                // else if (sdtnv == null || sdtnv == "") {
                //     alert("Số điện thoại Tài khoản không được để trống! Vui lòng nhập lại!");
                //     return false;
                // } else if (!sdtnv.match(number) || sdtnv.length != 10) {
                //     alert("Số điện thoại Tài khoản phải là kiểu số và có độ dài là 10 ký tự! Vui lòng nhập lại!");
                //     return false;
                // }
                // else if (quyen == "choose") {
                //     alert("Vui lòng chọn quyền!");
                //     return false;
                // }
                // else if (trangthai == "choose") {
                //     alert("Vui lòng chọn trạng thái!");
                //     return false;
                // }
                // else if (mknv == null || mknv == "") {
                //     alert("Mật khẩu Tài khoản không được để trống! Vui lòng nhập lại!");
                //     return false;
                // }
                // else {
                //     for (var x of list) {
                //         if (x.manv == manv) {
                //             alert("Mã Tài khoản đã tồn tại! Vui lòng nhập lại!")
                //             return false;
                //         }
                //     }
                // }

                console.log("AddStaff");
                if (list == null) list = [];
                var staff = {
                    "manv": manv,
                    "tennv": tennv,
                    "anhnv": anhnv,
                    "emailnv": emailnv,
                    "sdtnv": sdtnv,
                    "quyen": quyen,
                    "trangthai": trangthai,
                    "mknv": mknv
                };
                list.push(staff);
                localStorage.setItem("Staff", JSON.stringify(list));
                alert("Đã thêm thành công!");
                location.reload();
            }

            function NhapMoi() {
                document.getElementById('manv').value = '';
                document.getElementById('tennv').value = '';
                document.getElementById('imgstaff').value = '';
                document.getElementById('emailnv').value = '';
                document.getElementById('sdtnv').value = '';
                document.getElementById('quyennv').value = 'choose';
                document.getElementById('trangthai').value = 'choose';
                document.getElementById('matkhau').value = '';
            }

            function LoadData() {
                var str = "";
                var sl = 0;
                list.sort();
                for (x of list) {
                    sl++;
                    str += `<tr>
                        <td style="text-align: center;padding-top: 10px;"><input onclick="Xoa('ck`+ (sl - 1) + `','` + x.manv + `')" type="checkbox" name="check_all" id="ck` + (sl - 1) + `"></td>
                            <td>`+ x.manv + `</td>
                            <td>`+ x.tennv + `</td>
                            <td style="text-align: center;"><img src="`+ x.anhnv + `" ></td>
                            <td>`+ x.emailnv + `</td>
                            <td style="text-align: center;">`+ x.sdtnv + `</td>
                            <td style="text-align: center;">`+ x.quyen + `</td>
                            <td style="text-align: center;">`+ x.trangthai + `</td>
                            <td style="text-align: center;">
                                <i class="fas fa-edit" title="Sửa" onclick="SuaNhanVien(`+ x.manv + `)"></i>
                                <i class="fas fa-trash-alt" title="Xóa" onclick="XoaNhanVien(`+ x.manv + `)"></i>
                            </td>
                        </tr>
                    `;
                }
                document.getElementById("listStaff").innerHTML = str;
                $('#soluong').html(sl);
            }
            LoadData();

           

            function XoaNhanVien(manv) {
                if (confirm("Bạn chắc chắn muốn xóa!")) {
                    var index = list.findIndex(x => x.manv == manv);
                    if (index >= 0) {
                        list.splice(index, 1);
                    }
                    LoadData();
                    localStorage.setItem('Staff', JSON.stringify(list));
                }
            }

            function CheckAll(parent) {
                var ids = document.getElementsByTagName('input');
                for (var i = 0; i < ids.length; i++) {
                    if (ids[i].name == "check_all") {
                        ids[i].checked = parent.checked;
                    }
                }
            }

            function loadFile(event) {
                var image = document.getElementById('viewimg');
                image.src = URL.createObjectURL(event.target.files[0]);
            }

            function SuaNhanVien(manv) {
                for (x of list) {
                    if (x.manv == manv) {
                        document.getElementById('manv').value = x.manv;
                        document.getElementById('tennv').value = x.tennv;
                        document.getElementById('imgstaff').value = x.anhnv;
                        document.getElementById('emailnv').value = x.emailnv;
                        document.getElementById('sdtnv').value = x.sdtnv;
                        document.getElementById('quyennv').value = x.quyen;
                        document.getElementById('trangthai').value = x.trangthai;
                        document.getElementById('mknv').value = x.mknv;
                    }
                }
            }

            function CapNhat() {
                var manv = document.getElementById("manv").value;
                var tennv = document.getElementById("tennv").value;
                var anhnv = document.getElementById("imgstaff").value;
                var emailnv = document.getElementById("emailnv").value;
                var sdtnv = document.getElementById("sdtnv").value;
                var quyen = document.getElementById("quyennv").value;
                var trangthai = document.getElementById("trangthai").value;
                var mknv = document.getElementById("mknv").value;
                var number = /^[0-9]+$/;
                var atposition = emailnv.indexOf("@");
                var dotposition = emailnv.lastIndexOf(".");
                var ok = true;

                if (manv == null || manv == "") {
                    var d = new Date();
                    manv = Number(d);
                }
                else if (!manv.match(number) || manv.length != 13) {
                    alert("Mã Tài khoản phải là kiểu số và có độ dài là 13 ký tự! Vui lòng nhập lại!");
                    return false;
                }

                if (tennv == null || tennv == "") {
                    alert("Tên Tài khoản không được để trống! Vui lòng nhập lại!");
                    return false;
                }
                else if (emailnv == null || emailnv == "") {
                    alert("Email Tài khoản không được để trống! Vui lòng nhập lại!");
                    return false;
                }
                else if (atposition < 1 || dotposition < (atposition + 2) || (dotposition + 2) >= emailnv.length) {
                    alert("Email Tài khoản không hợp lệ! Vui lòng nhập lại!");
                    return false;
                }
                else if (sdtnv == null || sdtnv == "") {
                    alert("Số điện thoại Tài khoản không được để trống! Vui lòng nhập lại!");
                    return false;
                } else if (!sdtnv.match(number) || sdtnv.length != 10) {
                    alert("Số điện thoại Tài khoản phải là kiểu số và có độ dài là 10 ký tự! Vui lòng nhập lại!");
                    return false;
                }
                else if (quyen == "choose") {
                    alert("Vui lòng chọn quyền!");
                    return false;
                }
                else if (trangthai == "choose") {
                    alert("Vui lòng chọn trạng thái!");
                    return false;
                }
                else if (mknv == null || mknv == "") {
                    alert("Mật khẩu Tài khoản không được để trống! Vui lòng nhập lại!");
                    return false;
                }

                for (x of list) {
                    if (x.manv == manv) {
                        x.tennv = tennv;
                        x.anhnv = anhnv;
                        x.emailnv = emailnv;
                        x.sdtnv = sdtnv;
                        x.quyen = quyen;
                        x.trangthai = trangthai;
                        x.mknv = mknv;
                        ok = false;
                        break;
                    }
                }

                if (ok == false) {
                    alert("Cập nhật thông tin thành công!");
                    localStorage.setItem("Staff", JSON.stringify(list));
                    location.reload();
                }
                else {
                    alert("Cập nhật thông tin thất bại!");
                }
            }

            function Xoa(id, manv) {
                var index = list.findIndex(x => x.manv == manv);
                if (index >= 0) {
                    list[index].isCheck = document.getElementById(id).checked;
                }
            }

            function XoaChon() {
                debugger;
                for(var i = 0;i < list.length;)
                {
                    if(list[i].isCheck) {
                        list.splice(i, 1);
                        i=0;
                    } else i++;
                }
                LoadData();
                // var ids = document.getElementsByTagName('input');

                // for (var i = 0; i < ids.length; i++) {
                //     if (ids[i].checked == true) {
                //         alert(ids[i].id);
                //         // list.splice(ids[i].id,1);
                //         // LoadData();
                //         // localStorage.setItem('Staff', JSON.stringify(list));
                //     }
                // }
            }
        </script> -->
    </section>
</body>

</html>