<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="../img/logoCPT.png"> -->
    <link rel="stylesheet" href="../css/style_mainQT.css">
    <script src="https://kit.fontawesome.com/e06076012c.js" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/click.js"></script>
    <script src="/Javascrip/angular.min.js"></script>
    <script src="/Javascrip/global.js"></script>
    <script src="/js/thongke.js"></script>
    <!-- <title>Quản lý cửa hàng bán máy tính NCC</title> -->
</head>

<body ng-app="AppBanHoa" ng-controller="thongkehdn" >
    
    <section class="header">
        <a href="javascript:void(0);" class="icon" onclick="openBTN()">
            <i class="fas fa-bars"></i>
        </a>
        <div class="box-login" id="box-t">
            Xin chào, <span id="ten_nv">Admin</span> <i class="fas fa-sort-down"></i>
            <div class="box-login-bottom" id="box-b">
                <button onclick="TTTaiKhoan()"><i class="fas fa-user-alt"></i> Tài khoản</button>
                <button onclick="TTMatKhau();"><i class="fas fa-sign-out-alt"></i> Đổi mật khẩu</button>
                <button onclick="LogOut();"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="row">
            <div class="col-1 col-s-12 category">
                <button class="active" onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</button>
                <button onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</button>
                <button onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</button>
                <button onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</button>
                <button onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</button>
                <button onclick="NhanVien()"><i class="fas fa-user"></i> Tài khoản</button>
                <button onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</button>
                <button onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</button>
                <button onclick="ThongKe()"><i class="fas fa-shopping-cart"></i> Thống kê</button>
                <button onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</button>
            </div>
            <div class="bx-left" id="button-left">
                <a href="javascript:void(0)" class="closebtn" onclick="closeBTN()"><i
                        class="far fa-window-close"></i></a>
                <ul>
                    <li onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</li>
                    <li onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</li>
                    <li onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</li>
                    <li onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</li>
                    <li onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</li>
                    <li onclick="NhanVien()"><i class="fas fa-user"></i> Tài khoản</li>
                    <li onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</li>
                    <li onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</li>
                    <li onclick="ThongKe()"><i class="fas fa-shopping-cart"></i> Thống kê</li>
                    <li onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</li>
                </ul>
            </div>
            <div class="col-11 col-s-12 content">
                <div class="col-12 col-s-12 content">
                    <div class="tabcontent">
                      
                    
                        <div class="col-12 col-s-12 content" >
                            <div class="tabcontent">
                                <div class="title">
                                    <i class="fas fas fa-boxes"></i> Danh sách thống kê hóa đơn bán
                                    <!-- <button onclick="XoaChon()" style="margin-right: 3px;"><i class="far fa-trash-alt"></i> Xóa
                                        chọn</button> -->
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-4 col-s-12 padding-box">
                                        <input ng-model="searchbanfr" type="date" id="search-product-type">
                                    </div>
                                    <div class="col-4 col-s-12 padding-box">
                                        <input ng-model="searchbanto" type="date" id="search-product-type-1" >
                                    </div>
                                    <div class="col-2 col-s-12 padding-box" >
                                        <button  ng-click="GetDateNhap()"><i class="fas fas fa-search" ></i> Tìm kiếm</button>
                                    </div>
                                    <div class="col-2 col-s-12 padding-box" >
                                        <button  ng-click="GetDate()" style="background-color: #6FB3E0;"> Cập nhật</button>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-s-12 padding-box" style="margin: 30px 0; padding: 10px;" >
                                    <div class="box2" style="border: 1px solid #E8B110;">
                                        <div class="box2-top" style="border-bottom: 1px solid #E8B110; padding-left: 20px; text-align: center;">
                                             <i class="fas fa-boxes"></i>  -->
                                            <!-- Thống kê hóa đơn
                                        </div>
                                        <div class="box2-bot">
                                            <div class="" style="display: flex; justify-content: space-around; margin: 5px 0;">

                                                <div class="box2-bot-left">Số hóa đơn </div>
                                                <div class="box2-bot-right">{{numberbill}}</div>
                                            </div>
                                            <div class="" style="display: flex; ;margin: 5px 0;">

                                                <div  class="box2-bot-left">Số sản phẩm</div>
                                                <div  class="box2-bot-right">{{productsSold}}</div>
                                            </div>
                                            <div class="" style="display: flex; ;margin: 5px 0;">

                                                <div  class="box2-bot-left">Tổng tiền</div>
                                                <div  class="box2-bot-right">{{totalAmount}}VND</div>
                                            </div>
                                            <div class="" style="display: flex; ;margin: 5px 0;">

                                                <div   class="box2-bot-left">Đơn hàng hủy</div>
                                                <div  class="box2-bot-right">{{falseStatusCount}}</div>
                                            </div>
                                        </div>
                                    </div> -->
                                <!-- </div> --> 
                                <div class="row">
                                    <div class="col-12 col-s-12 padding-box">
                                        <table>
                                            <thead>
                                                <tr>
                                                   
                                                    <th style="text-align: center">Mã HDN</th>
                                                    <th style="text-align: center">Nhà sản xuất</th>
                                                    <th style="text-align: center">Ngày Nhập</th>
                                                    <th style="text-align: center">Tổng tiền</th>
                                                    <th style="text-align: center">Người nhập</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody id="listExport"></tbody>
                                            <tbody>
                                                <tr ng-repeat="x in thongke"  >
                                                    
                                                    <td style="text-align: center">{{x.maHoaDonNhap}}</td>
                                                    <td style="text-align: center">{{x.maNhaCungCap}}</td>
                                                    <td style="text-align: center">{{x.ngayNhap}}</td>
                                                    <td style="text-align: center;">{{x.tongTien}}</td>
                                                    <td style="text-align: center;">{{x. maTaiKhoan}}</td>
                                                   
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3" style="text-align: right;">Tổng tiền:</td>
                                                    <td colspan="2" style="text-align: center;">{{totalAmountN}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="text-align: right;">Số lượng:</td>
                                                    <td colspan="2" style="text-align: center;">{{productsSold}}</td>
                                                </tr>
                                            </tfoot>
                                            
                                        </table>
                                    </div>
                                    <div class="col-12 col-s-12 padding-box">
                                        <div class="box-sum">
                                            <div class="box-left">
                                                Số lượng hóa đơn: <span id="soluong">{{about}}</span>
                                                <br>
                                               
                                            </div>
                                            <div class="box-right">
                                                <button ng-click="prevPage()"><i class="fas fa-angle-left"></i></button>
                                                <button style="margin: 0 2px;" ng-repeat="page in pages" ng-click="setPage(page)">{{ page }} </button>
                                                <button ng-click="nextPage()"><i class="fas fa-angle-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var user = JSON.parse(localStorage.getItem('user'));
            if (!user) {
                window.location.href = "../admin/login.html";
            }

            LoadUser();
        </script>
    </section>
</body>

</html>